html {
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    padding-bottom: 50px;
    position: relative;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
/*-----------------------------------------------------*/
.full-scrin {
    /*height: 100%;*/
}
.fix-height {
    /*float: none;*/
}
/*-----------------------------------------------------*/
header,
footer,
.main-nav,
.wr-project {
    border: solid thin blue;
}

.main-nav a {
    display: block;
}
.wr-project {
    padding-left: 10px;
}